<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>
    @if(loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
    <ion-text color="danger">
      <p>El email es requerido y debe ser válido</p>
    </ion-text>
    }

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    @if(loginForm.get('password')?.invalid &&
    loginForm.get('password')?.touched) {
    <ion-text color="danger">
      <p>La contraseña es requerida</p>
    </ion-text>
    }

    <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">
      Iniciar sesión
    </ion-button>

    <!-- @if(errorMessage) {
    <ion-text color="danger">
      <p>{{ errorMessage }}</p>
    </ion-text>
    } -->
  </form>
</ion-content>
