<ion-header>
  <ion-toolbar>
    <ion-title>Pruebas Alert/Toast</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="showBasicAlert()">
    Mostrar Alerta Simple
  </ion-button>

  <ion-button expand="block" (click)="showConfirmAlert()">
    Mostrar Alerta de Confirmación
  </ion-button>

  <ion-button expand="block" (click)="showBasicToast()">
    Mostrar Toast Básico
  </ion-button>

  <ion-button expand="block" (click)="showToastWithButton()">
    Toast con Botón
  </ion-button>
</ion-content>
